@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --Very-Lihgt-Pink: #C7C7C7;
    --White: #FFFFFF;
    --Black: #000000;
    --Hospital-green: #ACD9B2;
    --Dark: #232830;
    --Text-Input-Field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.pie-pagina{
    color: var(--Very-Lihgt-Pink);
    font-size: var(--sm);
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    display: block; /* Hacer que el enlace ocupe todo el ancho del contenedor */
    width: 100%;    /* Asegurar que ocupe todo el ancho disponible */
    margin-bottom: 54px;
    
}

.Login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Para centrar el contenido horizontalmente */
    width: 300px;
}

.logo{
    width: 150px;
    margin-bottom: 18px;
    align-self: center; /* Centra el logo dentro del contenedor flex */
    display: none; /* Lo ocultas por defecto */
}

.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.title-account {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: left; 
    padding-right:  199px;
    margin-bottom: 22px; /* Ajusta según sea necesario */
}

.subtitle{
    color: var(--Very-Lihgt-Pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--Text-Input-Field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px; 
    width: 100%;
}

.input-name, .input-email, .input-password{
    margin-bottom: 22px;
}

input{
    font-family: 'Quicksand', sans-serif;
}


.primary-button {
    background-color: var(--Hospital-green);
    border-radius: 10px;
    border: none;
    color: var(--White);
    width: 100%; /* Ocupa todo el ancho disponible */
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-sizing: border-box; /* Asegura que padding y bordes se incluyan dentro del ancho */
}


.secondary-button{
    background-color: var(--White);
    border-radius: 10px;
    border: 1px solid var(--Hospital-green);
    color: var(--Hospital-green);
    width: 90%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.resend-link{
    font-size: var(--sm);
    color: var(--Hospital-green);
}

.forgot-password{
    font-size: var(--sm);
    text-align: center;
    color: var(--Hospital-green);
}

.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--Text-Input-Field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    
}

.email-image img{
    width: 80px;
}

.form a {
    color: var(--Hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    display: block; /* Hacer que el enlace ocupe todo el ancho del contenedor */
    width: 100%;    /* Asegurar que ocupe todo el ancho disponible */
    margin-bottom: 54px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}   

.product-card{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--White);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);

    transition: all 0.3s ease;

    cursor: pointer;

    
}

.product-img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: 12px;
}

.product-card img{
    width: 240px;
}

.carrito{
    width: 28px;
    height: 28px;
    position: relative;
    left: 90px;
    right: 0;
    bottom: 50px;
    margin: auto;
   
    cursor: pointer;
}

.product-card p{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}

.product-card:hover{
    transform: scale(1.05);
}

.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--Very-Lihgt-Pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    position: fixed;
    right: 20px;
    
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--Very-Lihgt-Pink);
}
.desktop-menu ul li:last-child a{
    color: var(--Hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--Black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.mobile-menu{
    padding: 24px;
    
}

.mobile-menu a{
    text-decoration: none;
    color: var(--Black);
    font-weight: bold;
    font-size: var(--md);
   /* margin-bottom: 24px;
    display: inline-block; */
}

.mobile-menu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--Very-Lihgt-Pink);
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out{
    font-size: var(--sm);
    color: var(--Hospital-green);
}

.My-orders{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}

.My-orders-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%; 
}

.My-orders-content{
    display: flex;
    flex-direction: column;
}
 
.shopping_cart figure {
    margin: 0; /* Elimina márgenes predeterminados de la figura */
    padding: 0;
}

.shopping_cart img {
    width: 100%; /* Asegúrate de que la imagen ocupe el 100% del contenedor */
    max-width: 200px; /* Controla el tamaño máximo de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    object-fit: contain; /* Esto asegura que la imagen se ajuste sin recortes */
    border-radius: 20px;
}

.shopping_cart p:nth-child(2){
    color: var(--Very-Lihgt-Pink);
    font-size: var(--md);
}
.shopping_cart p:nth-child(3){
    font-size: var(--sm);
    font-weight: bold;
}

.shopping_cart {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--Text-Input-Field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2){
    font-size: var(--sm);
    color: var(--Very-Lihgt-Pink);
}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.order-2{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 14px;

}

.My-orders-2{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}

.My-orders-container-2 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%; 
}

.My-orders-content-2{
    display: flex;
    flex-direction: column;
}




@media (max-width: 640px){
    .logo{
        display: block; /* Mostrar el logo solo en pantallas pequeñas */
    }
    .form{
        height: 100%;
        justify-content: space-between;
    }

    .form-container{
        height: 100%;
        
    }
    
}
